<div class="container">
  <h1 class="text-center mt-5">読んだ本について書いてね</h1>
  <%= form_for @book, html: { class: "mt-5" } do |f| %>
    <div class="form-group">
      <%= f.label :著書名, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :著者, class: "form-label" %>
      <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :出版社, class: "form-label" %>
      <%= f.text_field :publisher, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :書評, class: "form-label" %>
      <%= f.text_area :review, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "投稿", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>